body {
    background-color: #d3d3d3;
    font-size: 64px;
    line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
    font-weight: 600; /* Nice, chunky, bold! */
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.container {
    max-width: 900px;
    margin: 1rem 2rem;
}

.deck-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    gap: 5rem;
  }
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .333);
    background-color: white;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}
  
.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .666);
}
  
.card.flip {
    --rotate-y: 180deg;
}

.card .back {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    padding: 5rem;
}